# Ignore target directory
/target/

# Ignore IDE-specific files
.classpath
.project
.settings/

# Ignore Maven output
**/mvnw
**/mvnw.cmd

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
